* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('https://i.pinimg.com/originals/40/76/50/4076507eec1ea82ec210900b0f7800ea.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: rgba(211, 211, 211, 0.9); /* transparent background*/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /*shadow */
    min-width: 300px;
    max-width: 90%;
}

.login-box h2 {
    margin-bottom: 20px;
    text-align: center;
    color: black; /* Black text*/
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group input::placeholder {
    color: #aaa;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8B0000; /* Dark red background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #600000; /* Even darker red when hovering mouse */
}
